<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ludfyrahman.papikos">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permision.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.    READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Config.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Transaksi.Fragment_Lunas"></activity>
        <activity android:name=".Transaksi.Fragment_Dibatalkan" />
        <activity android:name=".Transaksi.Fragment_Pelunasan" />
        <activity android:name=".Transaksi.Fragment_DP" />
        <activity android:name=".Other.Tentang" />
        <activity android:name=".Transaksi.Transaksi" />
        <activity android:name=".Transaksi.Fragment_Pembayaran" />
        <activity android:name=".Transaksi.Fragment_Item" />
        <activity android:name=".Transaksi.Fragment_Pembeli" />
        <activity android:name=".Akun.Notifikasi" />
        <activity android:name=".Dashboard.Fragment_Favorit" />
        <activity android:name=".Dashboard.Fragment_Map" />
        <activity android:name=".Dashboard.Fragment_Akun" />
        <activity android:name=".Dashboard.Fragment_Kos" />
        <activity android:name=".Transaksi.Detail_Transaksi" />
        <activity android:name=".Kos.Detail_Kos" />
        <activity android:name=".Dashboard.Fragment_Dashboard" />
        <activity android:name=".Transaksi.Konfirmasi_Pembayaran" />
        <activity android:name=".Akun.Verifikasi.Verifikasi" />
        <activity android:name=".Akun.Pengaturan.Form_Rekening" />
        <activity android:name=".Akun.Pengaturan.Ubah_Biodata" />
        <activity android:name=".Akun.Pengaturan.Data_Diri" />
        <activity android:name=".Akun.Profil" />
        <activity android:name=".Akun.Pengaturan.Ubah_Password" />
        <activity android:name=".Akun.Lupa_Password" />
        <activity android:name=".Dashboard.Dashboard" />
        <activity android:name=".Akun.Sign_Up" />
        <activity android:name=".Other.Welcome" />
        <activity android:name=".Akun.Sign_In" />
        <activity android:name=".Other.Intro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Config.MyFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Config.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>